@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800&display=swap');


* {
  margin: 0;
  padding: 0;
  font-family: 'M PLUS 1p', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: content-box; 
  text-rendering: optimizeLegibility;
}

.header {
  background-color: rgb(58, 72, 95);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flex-parent {
  display: flex;
  /* justify-content: space-around; */
}

.flex-child {
  display: inline-flex;
  align-items: center;
  padding: 6px 3px;
  margin-right: 4px;
}

.active {
  color: white;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.social-icons {
  display: inline-flex;
  padding: 3px;
  margin: 6px;
}
